# Scrapy
scrapy==2.4.0
scrapy-user-agents==0.1.1
scrapy-selenium==0.0.7
scrapy-rotating-proxies==0.6.2

# Schudeler
celery==4.4.6

# Database
pymongo==3.11.0

# Required for proxies def()
requests==2.25.0
lxml==4.6.1
itemadapter==0.2.0