# Scrapy
scrapy==2.4.1
scrapy-user-agents==0.1.1
scrapy-selenium==0.0.7
scrapy-rotating-proxies==0.6.2

# Google
google-cloud-translate==3.0.1
google-cloud-storage==1.33.0
aiohttp==3.7.3

# Geotranslate
geopy==2.0.0

# Schudeler
celery==4.4.6

# Database
pymongo==3.11.1
dnspython==2.0.0

# Required for proxies def()
requests==2.25.0
lxml==4.6.1
itemadapter==0.2.0

# Date parser
dateparser==1.0.0